<ul>
    <% tab = [] %>
    <br>
    <% Dir["C:/Users/Louis/Dropbox/StageLouisLagrange/Grafana/FlyData/*.csv"].select{ |f| File.file? f }.map{ |f| File.basename f }.each do |file_name| %>
    <li><%= link_to file_name, "/#{URI.escape(file_name)}" %></li>

        <!-- création d'un tableau pour stocker les noms de fichiers -->
        <% tab << [file_name] %>
        
    <% end %>
</ul>