
<br>
---------- Back to event control :  
<%= link_to 'Back', events_path %>

<br>

<%# Event.find(1) %>
<%= @events %>

<%= @response %>

<% require "http" %>


<br />
    <pre>
        <%#= "<div>" + @body + "</div>" %>
        
    </pre>

    <%= request %>

    